<h3>Vous y êtes presque...</h3>

<br />
<br />

<p>Voici votre code de confirmation afin de poursuivre votre authentification :</p>

<br />
<br />

<h1>{{ code }}</h1>

<br />
<br />

<p>Vous n'avez plus qu'à copier ce code sur la page d'authentificaiton afin de vous connecter.</p>
